@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.otf);
}

body {
    padding-top: 50px;
    font-family: montserrat;
}
/*div {
    border: 1px solid #000;
}*/

.ksd-top-level {
    text-align: center;
}

.work-wrapper {
    display: block;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-decor {
    order: 1;
    background-color: pink;
    width: 10%;
    min-width: 100px;
}

.work-image {
    order: 2;
    background-color: orange;
    width: 50%;
    min-width: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work-descr {
    order: 3;
    background-color: magenta;
    width: 40%;
    min-width: 150px;
    padding: 10px 20px;
}

.work-title {
    font-size: 50px;
    font-weight: bold;
}

.work-sub-title {
    font-size: 32px;
}

.work-text {
    font-size: 24px;
    bottom: 40px;
    margin: 40px 0px;
}

.work-tech {
    position: relative;
    bottom: 10px;
}

.tech-img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.white-text {
    color: #fff;
}

@media (max-width: 768px) {
    .work-container {
        /*flex-direction: column;*/
    }
    .work-decor {
        width: 100%;
        height: 200px;
    }
    .work-image {
        width: 100%;
        height: 200px;
    }
    .work-descr {
        width: 100%;
        height: 200px;
    }
}